<div class="container-fluid pt-3 pb-3">
  <div class="row">
    <div class="col-12" style="height: 60px">
      <h2 class="float-start">Parking Management</h2>
      <button
        class="btn btn-primary float-end"
        [ngbPopover]="popContent" [popoverTitle]="popTitle"
      >
        Notifications
        <div class="badge">2</div>
      </button>
      <ng-template #popContent>
        Vehicles
        </ng-template>
      <ng-template #popTitle>Notifications</ng-template>
    </div>
    <div
      class="col-md-3 col-sm-12 col-12 d-flex flex-md-column flex-sm-row flex-row"
    >
      <a class="btn btn-primary mb-2" [routerLink]="''"> Dashboard </a>
      <a class="btn btn-primary" [routerLink]="'./list'"> List </a>
    </div>
    <div class="col-md-9 col-sm-12 col-12">
      <router-outlet />
    </div>
  </div>
</div>
